.public-folder{
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.public-folder img{
  width: 45px;
    margin-right: 10px;
}