*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

img{
  cursor: pointer;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black !important; */
  background: linear-gradient(135deg, #1e3c72, #2a5298) !important;

}